@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    background: linear-gradient(rgba(3, 0, 16, 0.7),rgba(3, 0, 16, 0.488)), url("./assets/bg.jpg");
    padding-bottom: 25px;
    background-size: cover;
    background-repeat: no-repeat;

}
